/* reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}:focus{outline:0;}table{border-collapse:separate;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}.clearfix:after,.container:after{content:"\0020";display:block;clear:both;height:0;visibility: hidden;}.clearfix,.container{display:inline-block;} * html .clearfix,* html .container{height:1%;}.clearfix,.container{display:block;}

/* Basic styles */

body { color: #333; font: 62.5%/1em "Helvetica Neue", Helvetica, Calibri, sans-serif; }

a, b, i, em, strong, code, samp, kbd { line-height: 1em; }

a, input[type="submit"], input.submit { color: #369; cursor: pointer; }
a:hover { color: #930; border-color: #930; }
a:active { color: #000; border-color: #000; }

blockquote { padding: 2em 3em; background: #F9FBFD; margin-bottom: 2em; }
blockquote p { margin: 0; }
blockquote p:before { content: "\201C"; font-size: 2em;line-height: 0.7em; vertical-align: bottom; margin-left: -13px; padding-right: 3px; color: #999; }
blockquote p:after { content: "\201D"; font-size: 2em; line-height: 0.7em; vertical-align: bottom; padding-left: 3px; color: #999; }

br { display: block; }

strong, b { font-weight: bold; }
em, i, var, address { font-style: italic; }
dfn { font-weight: bold; border-bottom: 1px solid #DDD; }
ins { text-decoration: underline; }

code, samp, kbd { font-family: monospace; font-size: 1.4em; }
pre {  font-size: 1.4em; line-height: 1.428em; margin-bottom: 0; }
pre code { font-size: 1em; }

li ol, li ul { margin-bottom: 0; }
li ol li, li ul li { font-size: 1em; }
ol, ul, dl { margin: 0 0 2em 0; padding-left: 2em; }
dl { padding-left: 0; }
ul { list-style: disc; }
ul ul { list-style: circle; }
dl dt { font-weight: bold; }
dl dd { padding-left: 1em; }

h1, h2, h3, h4, h5, h6 { line-height: 1.0em; font-weight: bold; }
h1 { font-size: 4em; margin: 0.25em 0; }
h2 { font-size: 2.5em; line-height: 1.6em; }
h3 { font-size: 1.8em; line-height: 2.222em; }
h4 { font-size: 1.4em; line-height: 1em; margin-bottom: 0.428em; }
h5 { font-size: 1.2em; line-height: 1.6667em; margin: 0; }
h6  {font-size: 1em; line-height: 2em; text-transform: uppercase; }

hr { margin: 1em 0 0.9em 0; background: #DDD; height: 0.1em; border: 0; }

p, li, dt, dd, td, address { font-size: 1.4em; line-height: 1.428em; }
li p { font-size: 1em; }
p, address { margin-bottom: 1.428em; }

img { display: block; margin-bottom: 2em; }
a img { display: inline; }

label { font-size: 12px; font-weight: bold; line-height: 20px; display: block; }

sub { font-size: 0.6em; line-height: 1em; }
sup { font-size: 0.7em; vertical-align: super; line-height: 1em; }

table { background: #F9F9F9; display: table; width: 100%; margin-bottom: 1.9em; border: 1px solid #333; border-collapse: collapse; }
table thead { background: #333; display: table-header-group; color: #FFF; font-weight: bold; }
table tbody { display: table-row-group;}
table tfoot { display: table-footer-group; background: #CCC; color: #222; }
table thead tr { border: 1px solid #333; }
table th { font-weight: bold; }
table tr { display: table-row; border: 1px solid #BBB; }
table tfoot tr { border: 1px solid #999; }
table td, table th { display: table-cell; }
table tr.alt { background: #F0F0F0; }
table tr td, table tr th { padding: 10px 15px 9px 15px; font-size: 1.2em; line-height: 1.6667em; }

input[type="text"], input.text, textarea { font-size: 1em; padding: 6px; border: 1px solid #BBB; margin: 0 10px 10px 0; color: #333; background: #FFF;  font-family: "Helvetica Neue", "Lucida Sans Unicode", "Lucida Grande", sans-serif; display: block; }

input[type="text"], input.text { width: 260px; }

input[type="submit"], input.submit { background: #369; color: #FFF; font-weight: bold; height: 30px; margin: 0 0 10px 0; border: 0; padding: 0; text-align: center; }
input[type="submit"]:hover, input.submit:hover { background: #930; }
input[type="submit"]:active, input.submit:active { background: #000; }
input.checkbox label { margin: 0; padding: 0; }

.container { margin: 0 auto; }

.clear { clear: both; height: 0; line-height: 0; }

.clearfix:after, header:after, article:after, section:after, footer:after, .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Grid */

.col-1 { width: 60px; }
.col-2 { width: 140px; }
.col-3 { width: 220px; }
.col-4 { width: 300px; }
.col-5 { width: 380px; }
.col-6 { width: 460px; }
.col-7 { width: 540px; }
.col-8 { width: 620px; }
.col-9 { width: 700px; }
.col-10 { width: 780px; }
.col-11 { width: 860px; }
.col-12, .container { width: 940px; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { float: left; margin-right: 20px; }
.last { margin-right: 0; }

/* Extras */

span.amp { font: italic 110%/0.9em Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif; }

.credit { text-align: right; margin-top: -20px; font-size: 1.2em; padding-right: 5px; }
.credit i { display: inline-block; position: relative; top: -2px; margin-right: 5px; line-height: 0%; width: 0px; border-top: 18px solid #F9FBFD; border-left: 18px solid #FFF; }

header, section, article, nav, aside, footer { display: block; }